# Ignore in same directory as the .gitignore file
/*
/.vscode-extensions/**

# Except
!.devcontainer/
!.venv
!.gitignore
!*.md
!Dockerfile
!*.sh
!library-scripts/
!configurations
!.vscode-extensions/
!.vscode-configurations/
