version: "3"

services: 

  # Rust
  rust:
    build:
      context: ..
      dockerfile: ../Dockerfile
      args:
        BUILDPLATFORM
    image: qcteqcr/rust-environment-builder:latest
    environment:
      - NODE_ENV=development
    container_name: rust-environment-builder

    volumes:
      - /var/run/docker.sock:/var/run/docker-host.sock

    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

    restart: unless-stopped